@import 'vns_common.css';

/*--- Partner Listing Grid ---*/

#partners_grid_outerDiv {
  border: #8B8B8B 1px solid;
}

#partners_grid { width: 98%;}
th.name { width: 20% }
th.vns_sn { width: 20%; }
th.distance { width: 50%; }

#partners_grid_scrollDiv {
  overflow: auto;
}

td .ricoLG_col div.ricoLG_cell {
height:3em;
}

