@import 'tasks.css';

#listing_asking_price {
  text-align: left;
}

.asking_price_box {
	margin-bottom: 1em;
	float: left;
}

label.bottom {
	margin-bottom: 2em;
	float: left;
}

.question_box {
  border: 1px solid black;
  background-color: lightblue;
  padding: 1em;
  float: right;
	margin-bottom: 1em;
}

.question_box h4 {
  margin: 0px;
  margin-bottom: .25em;
}

.question_box span {
  margin-right: .5em;
}

.end_time {
  font-weight: bold;
  color: #000000;
}