@import 'tasks.css';

/*--- select vehicle page --*/
#drafts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

fieldset#enter_number {
	border: 1px solid #ccc;
	padding: .8em;
	width: 18em;
}

#drafts ul li {
	padding: .1em 0;
}

fieldset#enter_number .label {
	width: 4em;
	display: block;
	float: left;
}

fieldset#enter_number .aor {
	width: 18em;
	text-align: center;
	display: block;
	margin: .5em 0;
	font-style: italic;
}

.strong {
	font-weight: bold;
}