
/* primary navigation                                                        */
/*****************************************************************************/
#navigation {
  clear: both;
}
#navigation .primary {
  font:             12px/1.6em Tahoma, "Lucida Grande", verdana, sans-serif;
  width:            100%;
  height:           26px;
  background:       url("/images/backgrounds/navigation_primary_bar.png") repeat-x;
}

#navigation .primary ul {
  margin:           0;
  padding:          0;
  width:            63.5em;
  height:           26px;
  background:       url("/images/backgrounds/navigation_primary_section.png") right top no-repeat;
}

#navigation .primary ul#primary_inboxes {
  width:            510px;
}

#navigation .primary ul#primary_additional {
  width:            256px;
}

#navigation .primary ul li {
  text-align:       center;
  width: 127px;
}

#navigation .primary a {
  color:            #DEDEDE;
  float:            left;
  text-decoration:  none;
  width:  88px;
  text-align: right;
  display:          block;
  height:           26px;
  outline: none;
}

#navigation .primary a.inbox {
color:            #DEDEDE;
float:            left;
text-decoration:  none;
width:  88px;
text-align: right;
display:          block;
height:           26px;
outline: none;
}

#navigation .primary a.alert {
float:            left;
display:          block;
width:            24px;
height:           26px;
margin:           0 4px;
}

#navigation .primary a .count {
font-size:        0.85em;
}

#navigation .primary a .unseen_count {
font-size:        0.85em;
font-weight:      bold;
}

#navigation .primary ul li {
  background: url("/images/tabs/nav_states_l.png") 20em 20em no-repeat;
}
#navigation .primary ul li.hover {
  background-position: bottom left;
}

#navigation .primary ul li.active {
  background: url("/images/tabs/nav_states_l.png") top left no-repeat;
}
#navigation .primary ul li.active:hover {
  background-position: top left;
}

#navigation .primary li.active a {
color:            #000;
}

#navigation .primary li a.alert {
  background:       url("/images/tabs/alert_inactive_states.png") left top no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}
#navigation .primary li a.alert:hover {
  background-position: left center;
}
#navigation .primary li a.alert_on {
  background:       url("/images/tabs/alert_inactive_states.png") left bottom no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  margin: 2px 4px 0 4px;
  outline: none;
}

#navigation .primary li.active a.alert {
  background:       url("/images/tabs/alert_active_states.png") left top no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}
#navigation .primary li.active a.alert:hover {
  background-position: left center;
}
#navigation .primary li.active a.alert_on {
  background-position: left center;
  background:       url("/images/tabs/alert_active_states.png") left bottom no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  margin: 2px 4px 0 4px;
  outline: none;
}

/* secondary navigation                                                      */
/*****************************************************************************/
#navigation .secondary {
width:            100%;
height:           2.2em;
background:       #94baeb url("/images/backgrounds/navigation_secondary_empty.png") bottom repeat-x;
padding: .25em 0 0 0;
}

#navigation .secondary .border {
background: url(/images/tabs/white_px.png) bottom repeat-x;
height: 2.2em;
width: 100%;
}

.subnav_btn {
float: right;
margin: 0 1.8em .2em 0;
font-size: .8em;
height: 1.5em;
}

#navigation .secondary .tab {
float: left;
margin: .85em 0 0 .2em;
font-size: .9em;
background: #E5E5E5 url(/images/tabs/tab_right.png) top right no-repeat;
}
#navigation .secondary .tab a {
display: block;
font-weight: bold;
text-decoration: none;
float: left;
color: #666666;
padding: .2em .7em .17em .7em;
background: url(/images/tabs/tab_left.png) top left no-repeat;
outline: none;
}
#navigation .secondary .tab a:hover {
  color: #233E83;
}

#navigation .secondary .tab_active {
float: left;
margin: .7em 0 0 .25em;
font-size: .9em;
background: #F4F4F4 url(/images/tabs/active-tab_right.png) top right no-repeat;
}
#navigation .secondary .tab_active a {
display: block;
font-weight: bold;
text-decoration: none;
float: left;
color: #333333;
padding: .35em .7em .25em .7em;
background: url(/images/tabs/active-tab_left.png) top left no-repeat;
outline: none;
}

#navigation .secondary img.x {
float: left;
margin: 5px 5px 0 0;
}

#navigation .secondary a.x {
  background: transparent;
}



/* alert popups                                                              */
/*****************************************************************************/
#selling_popup {
  position: absolute;
  left: 12em;
  top: 78px;
  width: 25em;
  background-color: #dedede;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #475387;
  padding-bottom: .5em;
  z-index: 100;
}

#buying_popup {
  position: absolute;
  left: 2em;
  top: 78px;
  width: 25em;
  background-color: #dedede;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #475387;
  padding-bottom: .5em;
  z-index: 100;
}

.alert_box .message_box {
  max-height: 9em;
  overflow-y: auto;
}

.alert_box h3 {
  background: #BDD2F1;
  color: #000000;
  padding: .7em .7em;
  font-size: .9em;
  font-weight: normal;
}
.alert_box h3 .count {
  font-weight: bold;
}
.alert_box .item {
  padding: .2em .7em 1em .7em;
  width: 87%;
}
.alert_box .item .title {
  font-size: .85em;
  color: #254087;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
  margin: 0 0 .2em 0;
}
.alert_box .item .messages {
  background: url('/images/icons/alert_icon_messages.png') top left no-repeat;
  padding: 0 0 0 20px;
  font-size: .8em;
  display: inline;
}
.alert_box .item .offers {
  background: url('/images/icons/alert_icon_offers.png') top left no-repeat;
  padding: 0 0 0 20px;
  margin: 0 0 0 1em;
  font-size: .8em;
  display: inline;
}
.alert_box .item .requestor {
  font-size: .8em;
}